<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html prefix="dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              dcat: http://www.w3.org/ns/dcat#
              odrs: http://schema.theodi.org/odrs#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= page.title %></title>

<script type="text/javascript" src="/lib/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/lib/underscore.js"></script>
<script type="text/javascript" src="/lib/jquery-ui.js"></script>
<script type="text/javascript" src="/lib/jsv.js"></script>
<script type="text/javascript" src="/lib/jsonform.js"></script>

<link href="/css/water.css" rel="stylesheet">
<link href="/css/glyphicon.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="/images/odifavicon32.ico">

</head>
<body>
	<p class="version"><a href="<%= software.versionLink %>" target="_blank">v<%= software.version %></a></p>
	<div class="sidebar">
		<img class="odi-logo" src="/images/odi-logo.png">
		<ul class="main-menu">
			<li><a href="/" class="toggle-link <% if (page.link === '/') { %>selected<% } %>">Homepage</a></li>
			<% if(user) { %>
				<li><a href="/projects" class="toggle-link <% if (page.link === '/projects') { %>selected<% } %>">My evaluations</a></li>
				<li><a href="/glossary" class="toggle-link <% if (page.link === '/glossary') { %>selected<% } %>">Glossary</a></li>
				<li><a href="/about" class="toggle-link <% if (page.link === '/about') { %>selected<% } %>">About</a></li>
				<li>
					<form style="display: inline-flex;" id="logout_form" action="/logout" method="post">
						<a href="javascript:;" onclick="document.getElementById('logout_form').submit();">Logout</a>
					</form>
				</li>
			<% } else { %>
				<li><a href="/auth/django" class="toggle-link">Login</a></li>
				<li><a href="/about" class="toggle-link <% if (page.link === '/about') { %>selected<% } %>">About</a></li>
			<% } %>
		</ul>

		<% if (typeof project !== 'undefined') { %>
			<nav class="projectProgress">
				<h1>Current evaluation</h1>
				<div class="projectTitle"><%= project.title %></div>
				<ul class="project-menu">
					<% pages.forEach(item => { %>
						<li class="<%= item.completionState %>">
							<a href="<%= pages.find(pageItem => pageItem.link === page.link) ? '#' : `/project/${project._id}/${item.link}` %>" id="<%= item.link %>" class="<%= item.link === page.link ? 'selected' : '' %>" <% if (pages.find(pageItem => pageItem.link === page.link)) { %> onClick="quickNav('<%= item.link %>')" <% } %> >
								<%= item.title %>
							</a>
						</li>
					<% }); %>
					<li><a class="toggle-link <% if (page.link === '/finalReport') { %>selected<% } %>" href="/project/<%= `${project._id}`  %>/">Final report</a></li>
				</ul>
			</nav>
		<% } %>
	</div>
	  <div class="main-content">
		<section class="page-title dark-blue">
			<h1><%= page.title %></h1>
			<input type="hidden" value="<%= page.link %>" id="pageId"/>
		</section>