
<link href="/css/water.css" rel="stylesheet">
<link href="/css/glyphicon.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="/images/odifavicon32.ico">
<style>
    .glossary .navigation {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .glossary .letter {
        cursor: pointer;
        background-color: var(--color-light-grey);
        color: var(--color-dark-blue);
        padding: 10px 20px;
    }
    .glossary .letter.active {
        background-color: var(--color-dark-blue);
        color: #fff;
    }
    .glossary .content {
        display: flex;
        flex-wrap: wrap;
    }
    .glossary .section {
        padding: 10px;
        width: 95%;
        text-align: center;
    }
    .glossary section .item {
        border: none;
        margin: 20px;
        padding: 20px;
        background-color: var(--color-light-grey);
    }
    .glossary .section h2 {
        text-align: center;
        margin-top: 10px;
    }
    .glossary input {
        width: 80%;
        height: 43px;
        padding-inline: 10px;
        font-size: 16px;
        box-shadow: none;
        margin-top: 1.25rem;
        background-color: var(--color-light-grey);
        color: black;
        border: 2px solid var(--color-dark-blue);
        margin-left: auto;
        margin-right: auto;
        border-radius: 0px;
    }
</style>
<div class="main-content glossary">
    <section class="content-block white">
        <h1 style="text-align: center;"><%= page.title %></h1>
        <div class="navigation">
            <% Object.keys(data).forEach(letter => { %>
                <div class="letter" onclick="filter('<%= letter %>')" data-letter='<%= letter %>'><%= letter %></div>
            <% }); %>
        </div>
        <input type="search" id="filterInput" placeholder="Type to filter terms" oninput="filterTerms(this.value)">
        <div class="content">
            <% Object.keys(data).forEach(letter => { %>
                <div id="<%= letter %>" class="section" style="display: block;">
                    <h2><%= letter %></h2>
                    <% data[letter].forEach(item => { %>
                        <div class="item" data-title="<%= item.title %>">
                            <h3><%= item.title %></h3>
                            <p><%= item.description %></p>
                        </div>
                    <% }); %>
                </div>
            <% }); %>
        </div>
    </section>
</div>