
<style>
    .glossary .navigation {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .glossary .letter {
        cursor: pointer;
        background-color: #f0f0f0;
        padding: 10px 20px;
    }
    .glossary .letter.active {
        background-color: #2b98eb;
        color: #fff;
    }
    .glossary .content {
        display: flex;
        flex-wrap: wrap;
    }
    .glossary .section {
        padding: 10px;
        width: 95%;
        text-align: center;
    }
    .glossary section .item {
        border: 1px solid #ccc;
        margin: 20px;
        padding: 20px;
    }
    .glossary .section h2 {
        text-align: center;
        margin-top: 10px;
    }
    .glossary input {
        width: 80%;
        height: 43px;
        padding-inline: 10px;
        font-size: 16px;
        box-shadow: #64646f33 0 7px 29px;
        margin-top: 1.25rem;
        background-color: transparent;
        color: black;
        border: 2px solid rgba(30 64 175);
        margin-left: auto;
        margin-right: auto;
        border-radius: 0px;
    }
</style>
<div class="main-content glossary">
    <section class="content-block light-blue">
        <h1 style="text-align: center;"><%= page.title %></h1>
        <div class="navigation">
            <% Object.keys(data).forEach(letter => { %>
                <div class="letter" onclick="filter('<%= letter %>')" data-letter='<%= letter %>'><%= letter %></div>
            <% }); %>
        </div>
        <input type="search" id="filterInput" placeholder="Type to filter terms" oninput="filterTerms(this.value)">
        <div class="content">
            <% Object.keys(data).forEach(letter => { %>
                <div id="<%= letter %>" class="section" style="display: block;">
                    <h2><%= letter %></h2>
                    <% data[letter].forEach(item => { %>
                        <div class="item" data-title="<%= item.title %>">
                            <h3><%= item.title %></h3>
                            <p><%= item.description %></p>
                        </div>
                    <% }); %>
                </div>
            <% }); %>
        </div>
    </section>
</div>